<div class="row">
  <div class="small-6 large-2 columns"><br></div>
  <div class="small-6 large-8 columns">
<%= render 'houses/form' %>

  </div>
  <div class="small-12 large-2 columns"><br></div>
</div>
