<div class="row">
  <div class="small-6 large-2 columns"><br></div>
  <div class="small-6 large-8 columns">
<h1 id="welcome-title"> Welcome to House Rules!!</h1>
<fieldset>
<p>Here at House Rules we're all about making the experience of communal living a little bit less of a headache. You can create your house rules, list upcoming events, track your inventory of communally bought items, and post messages to your house. It basically serves to replace all the things you’d typically post of your fridge at home.</p>
</fieldset>
<a href="/login" class="button" id="welcome-login">Login!</a><a href="/signup" id="welcome-sign-up" class="button success">Sign up</a>



