#calendar {
  margin-top: 1em;
}

div.fc-left h2 {
  font-size: 14pt;
}

#dialog {
  display: none;
}

#view_event {
  display: none;
}

.date-form-field select {
  display: inline;
  width: 5em;
  margin-right: .5em;
  margin-left: .5em;
}

.event-check-field {
  display: inline-block;
  margin-right: 6em;
}

.event-field {
  clear: both;
}

.event-field label {
  display: inline;
}

button .today {
  background-color: #6bc78a
}

button.fc-button.fc-state-default {
  background-color: #6bc78a;
}

button.fc-button.fc-state-default:hover {
  background-color: #FFAD32;
}

.event-edit {
  float: right;
}

.event-delete {
  float: right;
}

.event-edit a {
  color: #FFAD32;
}

.event-delete a {
  color: #FFAD32;
}

.ui-dialog-titlebar {
  color: white;
  background-image: none;
  background-color: #6bc78a;
}

.event-edit-form {
  display: none;
}