.creator_image{
	margin-right: 2em;
	display: inline-block;
}

.creator_name{
	margin-left: 4em;
	display: inline-block;
}

.circular {
	width: 180px;
	height: 180px;
	border-radius: 50px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}