<div id="rule-list">
  <% if @rules.empty? %>
    <h3 class="header-empty">There are no rules in your house.<br>
    I see you like to live dangerously.</h3>
  <% else %>
    <%= render @rules %>
  <%end%>
</div>
<%= render 'rules/form' %>
<div class="rule-length"></div>






