<h1> Weclome to House Rules!!</h1>
<p>Here at House Rules we're all about making the experience of communal living a little bit less of a headache. You can create your house rules, list upcoming events, track your inventory of communally bought items, and post messages to your house. It basically serves to replace all the things you’d typically post of your fridge at home.</p>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
<p>Log in <%= link_to "Sign up now!", login_path %></p>